body {
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  max-width: 800px;
  margin: 0 auto;
}

.ql-editor {
  border: 1px solid #a3a3a3;
  border-radius: 6px;
}

.ql-editor-disabled {
  border-radius: 6px;
  background-color: rgba(124, 0, 0, 0.2);
  transition-duration: 0.5s;
}

.ql-editor:focus {
  border: 1px solid #025fae;
}
